/* colour palette from <https://www.realtimecolors.com/?colors=edf2f4-0a0d10-a5b6c7-6d4457-ab7e78&fonts=Inter-Inter> */
@media (prefers-color-scheme: light) {
  :root {
    --text-50: 308 92% 95%;
    --text-100: 309 92% 90%;
    --text-200: 309 94% 80%;
    --text-300: 309 93% 70%;
    --text-400: 309 94% 60%;
    --text-500: 309 94% 50%;
    --text-600: 309 94% 40%;
    --text-700: 309 93% 30%;
    --text-800: 309 94% 20%;
    --text-900: 309 92% 10%;
    --text-950: 310 92% 5%;

    --background-50: 310 92% 95%;
    --background-100: 309 88% 90%;
    --background-200: 310 90% 80%;
    --background-300: 310 90% 70%;
    --background-400: 310 90% 60%;
    --background-500: 310 90% 50%;
    --background-600: 310 90% 40%;
    --background-700: 310 90% 30%;
    --background-800: 310 90% 20%;
    --background-900: 309 88% 10%;
    --background-950: 310 92% 5%;

    --primary-50: 308 92% 95%;
    --primary-100: 308 92% 90%;
    --primary-200: 308 92% 80%;
    --primary-300: 308 92% 70%;
    --primary-400: 308 92% 60%;
    --primary-500: 308 92% 50%;
    --primary-600: 308 92% 40%;
    --primary-700: 308 92% 30%;
    --primary-800: 308 92% 20%;
    --primary-900: 308 92% 10%;
    --primary-950: 308 92% 5%;

    --secondary-50: 18 92% 95%;
    --secondary-100: 18 92% 90%;
    --secondary-200: 18 92% 80%;
    --secondary-300: 18 92% 70%;
    --secondary-400: 18 92% 60%;
    --secondary-500: 18 92% 50%;
    --secondary-600: 18 92% 40%;
    --secondary-700: 18 92% 30%;
    --secondary-800: 18 92% 20%;
    --secondary-900: 18 92% 10%;
    --secondary-950: 18 92% 5%;

    --accent-50: 39 92% 95%;
    --accent-100: 40 92% 90%;
    --accent-200: 40 92% 80%;
    --accent-300: 40 92% 70%;
    --accent-400: 40 92% 60%;
    --accent-500: 40 92% 50%;
    --accent-600: 40 92% 40%;
    --accent-700: 40 92% 30%;
    --accent-800: 40 92% 20%;
    --accent-900: 40 92% 10%;
    --accent-950: 42 92% 5%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: 308 92% 5%;
    --text-100: 308 92% 10%;
    --text-200: 308 94% 20%;
    --text-300: 308 93% 30%;
    --text-400: 308 94% 40%;
    --text-500: 308 94% 50%;
    --text-600: 308 94% 60%;
    --text-700: 308 93% 70%;
    --text-800: 308 94% 80%;
    --text-900: 308 92% 90%;
    --text-950: 308 92% 95%;

    --background-50: 310 92% 5%;
    --background-100: 309 88% 10%;
    --background-200: 310 90% 20%;
    --background-300: 310 90% 30%;
    --background-400: 310 90% 40%;
    --background-500: 310 90% 50%;
    --background-600: 310 90% 60%;
    --background-700: 310 90% 70%;
    --background-800: 310 90% 80%;
    --background-900: 309 88% 90%;
    --background-950: 310 92% 95%;

    --primary-50: 308 92% 5%;
    --primary-100: 308 92% 10%;
    --primary-200: 308 92% 20%;
    --primary-300: 308 92% 30%;
    --primary-400: 308 92% 40%;
    --primary-500: 308 92% 50%;
    --primary-600: 308 92% 60%;
    --primary-700: 308 92% 70%;
    --primary-800: 308 92% 80%;
    --primary-900: 308 92% 90%;
    --primary-950: 308 92% 95%;

    --secondary-50: 18 92% 5%;
    --secondary-100: 18 92% 10%;
    --secondary-200: 18 92% 20%;
    --secondary-300: 18 92% 30%;
    --secondary-400: 18 92% 40%;
    --secondary-500: 18 92% 50%;
    --secondary-600: 18 92% 60%;
    --secondary-700: 18 92% 70%;
    --secondary-800: 18 92% 80%;
    --secondary-900: 18 92% 90%;
    --secondary-950: 18 92% 95%;

    --accent-50: 42 92% 5%;
    --accent-100: 40 92% 10%;
    --accent-200: 40 92% 20%;
    --accent-300: 40 92% 30%;
    --accent-400: 40 92% 40%;
    --accent-500: 40 92% 50%;
    --accent-600: 40 92% 60%;
    --accent-700: 40 92% 70%;
    --accent-800: 40 92% 80%;
    --accent-900: 40 92% 90%;
    --accent-950: 39 92% 95%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: hsla(var(--text-950) / 1);
  background: hsla(var(--background-50) / 1);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition:
    background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.1s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0s !important;
  }
}
